:root { 
--purple_100:#e9a5f3; 
--gray_50_01:#fcfcfc; 
--gray_50_02:#f9fcf2; 
--gray_50_03:#f7faff; 
--gray_50_04:#f3f8ff; 
--gray_900_10:#191919; 
--pink_900:#833b3b; 
--red_200:#ff9999; 
--gray_800_02:#3c3c43; 
--gray_800_01:#4c4c4c; 
--gray_800_00:#3f3f3f00; 
--red_A700_7f:#e500007f; 
--black_900_f8:#140e0ef8; 
--black_900_01:#000000; 
--deep_orange_300:#ff8d4c; 
--blue_gray_900_02:#1a3129; 
--light_blue_A700:#007fff; 
--blue_gray_900_01:#2d2d2d; 
--deep_purple_A400:#4f33ff; 
--blue_gray_900:#333333; 
--deep_purple_A200:#6f3bf6; 
--red_A700:#e50000; 
--lime_300:#caea7a; 
--gray_400:#bfbfbf; 
--lime_500:#caff33; 
--orange_A400:#ff9400; 
--gray_800:#3f3f3f; 
--gray_200:#eeebe5; 
--blue_50:#e5efff; 
--gray_100_02:#f0f6ff; 
--gray_400_01:#cacaca; 
--lime_A700:#9eff00; 
--gray_400_02:#b3b3b3; 
--gray_100_01:#eff5ff; 
--red_A400_01:#f6222d; 
--lime_50:#f6fbe9; 
--blue_100:#cce0ff; 
--red_A700_01:#ff0000; 
--red_A700_00:#e5000000; 
--white_A700:#ffffff; 
--deep_orange_50:#ffe5e5; 
--blue_gray_700_00:#51515b00; 
--blue_gray_50:#f1f1f3; 
--light_blue_A400:#00b2ff; 
--blue_A700:#0062ff; 
--gray_900_00_01:#1a1a1a00; 
--gray_900_00_02:#26262600; 
--red_500:#ff3333; 
--light_green_A200:#c2ff66; 
--light_blue_400:#1abcfe; 
--gray_50:#fff9f9; 
--red_100:#ffcccc; 
--red_50:#fff5ef; 
--green_A400:#09cf82; 
--gray_900_e7:#220d0de7; 
--black_900:#0f0f0f; 
--deep_orange_600:#f24e1e; 
--gray_500_01:#a5a5a5; 
--red_A400:#ff1919; 
--lime_50_01:#f8ffef; 
--deep_purple_A700:#5600ff; 
--deep_purple_A200_01:#a259ff; 
--gray_900_02:#1e1e1e; 
--gray_900_03:#1a1a1a; 
--deep_orange_300_02:#ff7262; 
--gray_700:#666666; 
--gray_900_04:#2f2121; 
--gray_500:#999999; 
--gray_900_05:#282828; 
--gray_900_00:#14141400; 
--deep_orange_300_01:#ff8c4c; 
--gray_900:#262626; 
--gray_900_01:#141414; 
--blue_gray_900_03:#2c283e; 
--gray_900_06:#202020; 
--gray_300:#e3e3e7; 
--gray_900_07:#131315; 
--gray_300_01:#e0dbd0; 
--gray_900_08:#151515; 
--gray_100:#f7f7f8; 
--gray_900_09:#111018; 
}